@media (max-width: 1200px) {
  .foto-header {
    bottom: 10.8%;
    width: 82.5vw;
  }
  .box-socials {
    margin-top: -1.8rem !important;
  }
}
@media (max-width: 991px) {
  .box-img-header {
    position: relative;
    height: 500.1px;
  }

  .foto-header {
    bottom: 10.8%;
    width: 90.5vw;
    right: 2%;
  }
  .box-socials {
    margin-top: -1.8rem !important;
  }
  .socials a span {
    font-size: 1rem;
  }
  .socials a {
    font-size: 6vw;
  }
  .box-letters-header {
    top: 22%;
    left: 10%;
    flex-direction: column;
  }
  .box-letters-header span img {
    width: 37vw;
    transition: 0.3s;
  }
}

@media (max-width: 768px) {
  .box-letters-header span img {
    width: 42vw;
    transition: 0.3s;
  }
  .box-letters-header span {
    width: 0.3rem;
  }
  .foto-header {
    bottom: 10.8%;
    width: 107.5vw;
    right: -7%;
  }

  .socials {
    flex-wrap: wrap;
    gap: 2.3rem;
  }
  .about h2 {
    font-size: 6vw;
  }
  .about p {
    font-size: 2.6vw;
    line-height: 1.5rem;
  }
  .box-video iframe {
    height: 350px;
    width: 98%;
  }
}
@media (max-width: 600px) {
  .foto-header {
    bottom: 10.8%;
    width: 112.5vw;
    right: -6%;
  }
  .box-letters-header {
    top: 19%;
    left: 10%;
    flex-direction: column;
  }
  .box-letters-header span img {
    width: 46vw;
    transition: 0.3s;
  }

  .socials {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .socials a {
    font-size: 3rem;
  }
  .about h2 {
    font-size: 5vw;
  }
  .about p {
    font-size: 2.2vw;
    line-height: 1.2rem;
  }
  .box-video iframe {
    height: 300px;
    width: 98%;
  }
}
@media (max-width: 480px) {
  .box-img-header {
    position: relative;
    height: 300px;
  }
  .foto-header {
    bottom: 11%;
    width: 107.5vw;
    right: -10%;
  }
  .box-letters-header {
    top: 13%;
  }
  .box-letters-header span {
    width: 0.1rem;
  }

  .socials {
    flex-wrap: wrap;
    gap: 1em;
  }
  .socials a span {
    font-size: 3vw;
  }
  .socials a {
    font-size: 2.5rem;
  }
  .about h2 {
    font-size: 2rem;
  }
  .about p {
    font-size: 1rem;
    line-height: 1.3rem;
  }
  .box-video iframe {
    height: 220px;
    width: 98%;
  }
}
@media (max-width: 450px) {
  .box-img-header {
    position: relative;
    height: 270px;
  }
}
@media (max-width: 360px) {
  .box-img-header {
    position: relative;
    height: 250px;
  }
  .box-letters-header span img {
    width: 43vw;
  }
  .foto-header {
    width: 118.5vw;
  }
  .socials a {
    font-size: 1.5rem;
  }
}
